*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-menu {
    transition: .5s;
}


.hero {
    position: relative;
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/images/bg.png');
    background-position: center;
    background-size: cover;
    opacity: .6;
}

.animate {
    opacity: 0;
    transform: translateY(70%);
    transition: opacity 1s ease-in, transform 0.4s ease-in;
}
.animate.in-view {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    .hambuger-menu {
        display: block !important;
    }

    .hamburger-menu .line {
    transition: all 0.3s ease;
}

    .navbar-menu {
        position: fixed;
        top: -100%;
        flex-direction: column !important;
        width: 80%;
        height: 100vh;
        background-color: white;
        z-index: 100;
    }

    .navbar-menu li {
        width: 100%;
        padding: 12px;
        text-align: center;
    }

    .navbar-menu li:hover {
        background-color: lightgray;
    }

    .navbar-menu.active {
        top: 0;
    }

    .hamburger-menu.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        width: 100%; /* Adjust width for better "X" appearance */
    }

    .hamburger-menu.active .line:nth-child(2) {
        opacity: 0; /* Hide the middle line */
    }

    .hamburger-menu.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        width: 100%; /* Adjust width for better "X" appearance */
    }

}